.section-padding{
    padding: 100px 0;
}
nav{
    background-color: darkkhaki;
}
.navbar-brand{
    font-family: fantasy;
    font-size: x-large;
}
.form-control{
    background-color: darkkhaki;
    border:0; 
    border-bottom:2px solid black;
    
}
.form-control:focus-visible{
    background-color: transparent;
    outline: none;
    border:0; 
    border-bottom:2px solid rgb(56, 56, 56);
    color: white;
}
.form-control::placeholder{
    color: white;
}
.btn{
    border-radius: 10px;
    font-family: Arial;
    background: #ffffff;
    border: solid darkkhaki 2px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
.btn:hover{
    background: darkkhaki;
    text-decoration: none;
    color: #ffffff;
}

